.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 720px) {
  .header__logo {
    margin-bottom: 30px;
    width: 120px;
  }
}

@media screen and (max-width: 520px) {
  .header__logo {
    margin-bottom: 31.6px;
    margin-left: 27px;
    width: 103.74px;
  }
}