.element__name {
  margin: 0 0 31px 21px;
  max-width: 190px;
  padding-top: 25px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1024px) {
  .element__name {
    margin-bottom: 15px;
    padding-top: 15px;
    max-width: 140px;
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 520px) {
  .element__name {
    margin-bottom: 31px;
    padding-top: 25px;
    max-width: 190px;
    font-size: 24px;
    line-height: 29px;
  }
}
